<h1> Create new article </h1>

<td> <%= link_to 'Articles', articles_path, method: :get  %> </td>

<% if @article.errors.any? %>
  <h2> Errors occured</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local:true do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %><br/>
  </p>

  <p>
    <%= form.label :description %><br/>
    <%= form.text_area :description %><br/>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

